<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Camera Control</title>
</head>

<body>
    
    <div class="container">  
        <img src="{{url_for('static', filename='imgs/drone_footage.png')}}" class="center"/>             
        <!-- <img src="{{ url_for('video_feed') }}" class="center"> -->

        <div class="bottom-left" style="float:left">
            <pre id="controller" class="viewable-text">Right joystick: (0    0) </pre>
            <script type="text/javascript" src="{{ url_for('static', filename='js/readController.js') }}"></script>    
        </div>

        <div class="bottom-right" style="float:right">
            <pre id="camera" class="viewable-text">Latency: 1000ms </pre>
        </div>
        
        <div class="top-left" style="float:left">
            <pre id="camera" class="viewable-text">Some data</pre>
        </div>

        <div class="top-right" style="float:right">
            <pre id="camera" class="viewable-text">Some other data</pre>
        </div>

        <div class="centered">
            <pre id="camera" class="viewable-text" style="color: red;">WARNING</pre>
        </div>

    </div>
</body>

</html>