h1 {
    border: 2px #eee solid;
    color: red;
    text-align: center;
    padding: 10px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.viewable-text {
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    font-size: xx-large;
    font-weight: 900;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 150px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 150px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 150px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 150px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}